body {
    font-family: hero, sans-serif;
}

.header {
    display:flex;
    flex-direction: column;
    background: #1F2937;
    color: #F9FAF8;
    
    padding-left: 150px;
    padding-right: 150px;
}

ul, a {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin:0;
    color: #F9FAF8;
}

.top {
    display: flex;
    gap: 10px;
    
}

.links {
    margin-left: auto;
}

.logo {
    font-size: 24px;;
}

.header-content {
    display: flex;
    gap: 16px;
    padding-top: 75px;
    padding-bottom: 75px;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
}

.header-about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
}

img {
    width: 325px;
    height: auto;
    flex: 0.5 1 0;
}

.h1 {
    font-size: 48px;
    font-weight: extra-bold;
}

button {
    background-color: #3882F6;
    border: #3882F6;
    color: #F9FAF8;
    padding: 8px 25px;
    border-radius: 7px;
}

h3 {
    text-align: center;
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}

.information {
    display: flex;
    gap: 50px;
    text-align: center;
    justify-content: center;
}

.info-1, .info-2, .info-3, .info-4 {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 150px;   
}

.img {
    border: 4px solid;
    border-color: #3882F6;
    border-radius: 7px;
    padding: 25px;
    width: 100px;
    height: 100px;
    color: #F9FAF8;
}

