body {
    font-family: Roboto;
}

.header {
    display:flex;
    flex-direction: column;
    background: #1F2937;
    color: #F9FAF8;   
}

ul, a {
    list-style: none; /* removes the bullet points */
    text-decoration: none; /* removes the underlines */
    padding: 0;
    margin:0;
    color: #F9FAF8;
}

.top {
    display: flex;
    gap: 10px; /* puts a gap between the header links*/
    /* added padding to keep the header off the edges */
    padding-left: 150px;
    padding-right: 150px;
}

.links {
    margin-left: auto; /* keeps the to the right side */
}

.logo {
    font-size: 24px;;
}

.header-content {
    display: flex;
    gap: 16px;
    padding:90;
    /*padding-top: 75px;
    padding-bottom: 75px;*/
    justify-content: center;
    align-items: center;
    margin: 30px;
    
    
}

.header-about {
    /* set these as flex and column so that I could keep them grouped together */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    /* felx:basis is like max width, it keeps a certain size instead of growing too wide */
    flex-basis: 350px;
    
}

img {
    width: 325px;
    height: auto;
    flex: 0.5 1 0; /* put this at 0.5 because it was just growing too much */
}

.h1 {
    font-size: 48px;
    font-weight: extra-bold;
}

#first {
    background-color: #3882F6; /* remeber not to put the HEX before the # */
    border: #3882F6;
    color: #F9FAF8;
    padding: 8px 25px; 
    border-radius: 7px; /* rounded corners */
}

h3 {
    text-align: center;
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}

.information {
    display: flex;
    gap: 50px; /* to give space between the pictures */
    /*using center aignment so that they stay the middle of the screen*/
    text-align: center;
    justify-content: center;
    margin-bottom: 50px;
}

.info-1, .info-2, .info-3, .info-4 {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 150px;   
}

.img {
    border: 4px solid;
    border-color: #3882F6;
    border-radius: 7px; /* for rounded corners */
    padding: 25px;
    width: 100px;
    height: 100px;
    color: #F9FAF8; /* since this is an image placeholder, text it not seen */
}
/*div to contain the whole quote section*/
.quote {
    background: #E5E7EB;
    font-size: 36px;   
    padding: 48px; 
    /* adding flex to this div in hopes of easier manipulation of the
    credit text to the right side of the screen */
    display: flex;
    flex-direction:column;
    justify-content: center;
    /* padding added to the sides of the items so that they dont touch the
    screen. im wondering if there is a better way to kee them in the middle */  
    padding: 0 150px;
}
/* div created to separate the text that needed to be thinned and italics */
.quote-text {
    font-style: italic;
    font-weight: 100;
    
}
/* set so that the credit text to author is to the bottom right */
.credit {
    margin-left: auto;    
}
/* styling for the whole call to action area */
.action {
    background-color: #F9FAF8;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 120px;
    color:#E5E7EB;
}
/* styling for the word content */
.action-content {
    background-color: #3882F6;
    border: #3882F6;
    border-radius: 4px; /*rounded corners*/
    padding: 15px;
    gap: 25px; /* gap betweem the button and text */
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1; /* make sure to add the flex:1 so that the item could grow to fit the space,
    and also have a margin in the parent container to give it space */
}
/* the styling for the sign up button */
#last {
    background-color: #3882F6;
    border: 2px solid #E5E7EB;
    border-radius: 4px; /* rounded corners */
    padding: 4px 17px; /* vertical then horizontal padding */
    color: #E5E7EB;
}
h4 {
    font-weight: 700;
    font-size: larger;
    margin: 0;
}
.action-words {
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin: 2em; /* tired out the em instead of px, since thats what the h4 and <p> used before
    removing their margins*/
}

.action-text {
    margin: 0;/* removes the natural margin that <p> has */
}
/* all the styling for the footer */
footer {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}
